// Name:       Atom Dark
// Author:     Aidan Hislop (http://github.com/amhislop)

// CodeMirror template by Aidan Hislop (https://github.com/amhislop/content-savnt)

.cm-s-atom-dark {
  &.CodeMirror {
    background: $background;
    color: $default;
  }

  div.CodeMirror-selected {
    background: #d6d5d4;
  }

  .CodeMirror-line::selection,
  .CodeMirror-line > span::selection,
  .CodeMirror-line > span > span::selection {
    background: #d6d5d4;
  }

  .CodeMirror-gutters {
    background: $background;
    border-right: 0px;
  }

  .CodeMirror-guttermarker {
    color: #db2d20;
  }
  .CodeMirror-guttermarker-subtle {
    color: #807d7c;
  }
  .CodeMirror-linenumber {
    color: #807d7c;
  }

  .CodeMirror-cursor {
    border-left: 1px solid #5c5855;
  }
  span.cm-comment {
    color: $comment;
    font-style: italic;
  }
  span.cm-atom {
    color: $orange;
  }
  span.cm-number {
    color: $orange;
  }

  span.cm-property {
    color: $red;
  }

  span.cm-attribute {
    color: $red;
  }

  span.cm-keyword,
  span.cm-keyword2 {
    color: $purple;
  }

  span.cm-object,
  span.cm-class {
    color: $yellow;
  }

  span.cm-builtin {
    color: $blue;
  }

  span.cm-qualifier {
    color: $orange;
  }

  span.cm-function {
    color: $blue;
  }

  span.cm-string {
    color: $string;
  }

  span.cm-variable {
    color: $default;
  }

  span.cm-variable-2 {
    color: $red;
  }

  span.cm-def {
    color: $default;
  }

  span.cm-bracket {
    color: #3a3432;
  }

  span.cm-tag {
    color: $red;
  }

  span.cm-link {
    color: #a16a94;
  }

  span.cm-error {
    border-bottom: 1px ridge red;
  }

  .CodeMirror-activeline-background {
    background: #e8f2ff;
  }

  .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: #a16a94 !important;
  }
}
