#savant_meta {
  ::-webkit-scrollbar-thumb {
    background-color: $comment;
    border-radius: 1em;
    border: 5px solid $textarea;
    opacity: 0.5;
  }

  ::-webkit-scrollbar {
    width: 15px;
    margin-right: 1em;
    cursor: pointer;
  }
  .inside {
    margin: 0 !important;
    padding: 0 !important;
    background-color: $background;
  }
  .wp-editor-container {
    border-color: $border;
  }

  .savant {
    &.new {
      .container-body {
        overflow: visible;

        .savant-settings.new {
          height: 100%;

          &.expand {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .setting-container {
              margin-left: -13vw;
              min-width: 300px;
            }

            .submit {
              width: 30%;
            }

            label {
              width: 20%;
            }

            button {
              margin-left: 19%;
              width: 100%;
            }
          }
        }
      }
    }

    &.side-bar {
      padding: 0 0 0 20%;
      position: relative;
      overflow: hidden;
      transition: all 0.2s cubic-bezier(0.55, 0.22, 0.77, 1.06);

      &.expand {
        padding: 0 0 0 40px !important;

        &::before {
          width: 40px;
        }

        .savant-tab {
          ul {
            width: 40px;

            li.button-language {
              overflow: hidden;
              color: transparent;
              height: 1.5em;

              &::before {
                color: $default;
              }

              &.active::before {
                color: white;
              }
            }
          }
        }
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 20%;
        bottom: 0;
        z-index: 1;
      }
      .savant-tab {
        ul {
          top: 0;
          flex-direction: column;
        }
      }
      ul {
        position: absolute;
        left: 0;
        padding: 0;
        margin: 0;
        z-index: 1;
        display: flex;
        width: 20%;

        li {
          margin: 0;
          display: flex;
          align-items: center;
          padding: 10px 1em;
          border-bottom: 1px solid $border;
          font-size: 13px;
          line-height: 18px;
          cursor: pointer;
          color: #6b717d;
          font-weight: normal;
          border-width: 1px 0;
          border-radius: 0;
          background: transparent;
          text-decoration: none;

          &::before {
            font-family: Font awesome\5 Brands;
            margin-right: 0.5em;
          }

          &[data-attribute='css'] {
            &::before {
              content: '\f13c';
            }
          }

          &[data-attribute='javascript'] {
            &::before {
              content: '\f3b8';
            }
          }

          &.active {
            border-color: $border;
            color: white;
            background: $textarea;
            margin-right: -1px;
            border-left: 3px solid $blue;
          }
          a {
            border-bottom: 1px solid $border;
            font-size: 13px;
            line-height: 18px;
            color: #6b717d;
            padding: 10px;
            font-weight: normal;
            border-width: 1px 0;
            border-radius: 0;
            background: transparent;
            display: block;
            text-decoration: none;

            &:focus {
              box-shadow: unset;
            }
          }
        }
      }
    }
    .savant-container {
      height: 300px;
    }

    .container-body {
      position: relative;
      height: 300px;
      background: $textarea;
      overflow: hidden;

      // &.hide
      //   display: none

      .savant-settings {
        color: white;
        z-index: 4;
        background: $background;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid $border;
        transform: translateY(-100%);
        transition: $open;

        label {
          cursor: auto;
        }

        &.savant-config {
          transform: translateY(100%);
          bottom: 0;
          border-top: 1px solid $border;
          border-bottom: 0;
        }

        &.expand {
          transform: translateY(0);

          & + .savant-window {
            transform: translateY(57px);
          }
        }

        .setting-container {
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1em;

          &.bin {
            width: 2em;
            justify-content: flex-end;
          }

          &.submit {
            width: 20%;
            justify-content: flex-end;
          }

          .settings-field,
          .savant-input {
            color: $default;
            border: 1px solid $border;
            width: 100%;
            margin-left: 0.8em;
            border-radius: 0.2em;
            background: $field;

            &:focus {
              box-shadow: none;
            }
          }

          .btn-group {
            display: flex;
            margin-left: 0.8em;
            width: 100%;
            border-radius: 0.2em;
            overflow: hidden;
          }

          button {
            width: 100%;
            border: 0;

            &.btn {
              width: 100%;
            }
          }

          .btn {
            color: $default;
            width: 50%;
            background: $button;
            text-align: center;
            padding: 0.5em;
            cursor: pointer;

            &.active {
              background: $blue;
              color: white;
            }

            &:hover {
              background: lighten($button, 10%);
            }

            input {
              position: absolute;
              clip: rect(0, 0, 0, 0);
              pointer-events: none;
            }
          }
        }
      }

      .controls {
        padding: 1em 0 1em 1em;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        transform: translateY(100%);
        margin-right: 1em;

        i.icon {
          font-weight: 900;
          font-family: Font awesome\5 Free;
          font-style: normal;
          cursor: pointer;
          opacity: 0.5;
          color: $default;
          padding: 1em;
          transform: rotate(0);
          transition: $open;

          &:hover {
            opacity: 1;
          }

          &.cog {
            &::before {
              content: '\f013';
            }
            &.open {
              transform: rotate(270deg);
            }
          }

          &.add-new {
            &::before {
              content: '\f067';
            }
            &.open {
              transform: rotate(45deg);
            }
          }

          &.expand-window {
            &::before {
              content: '\f065';
            }
            &.open {
              &::before {
                content: '\f066';
              }
            }
          }
        }
      }
      .savant-window {
        transform: translateY(0);
        transition: $open;

        &[data-type='editor'] .editor {
          opacity: 1;
          transform: translateY(0);
        }
        &[data-type='file'] .file {
          opacity: 1;
          transform: translateY(-100%);
        }

        .editor,
        .file {
          height: 300px;
          transition: all 0.5s ease;
        }

        .editor {
          transform: translateY(-100%);
          position: relative;
        }
        .file {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          min-height: 300px;
          transform: translateY(0%);

          div {
            margin-top: 1em;
            color: $default;

            span + i.close {
              font-size: 0.7em;
              opacity: 0.8;
              margin-left: 0.6em;

              &::before {
                content: '\f057';
              }
            }
          }
        }
      }
      .code-input,
      .code-output {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        font-family: $code-font;
        background: transparent;
        white-space: pre-wrap;
        line-height: 1.5em;
        word-wrap: break-word;
        padding-left: 1rem;
      }
      .code-input {
        opacity: 0.7;
        margin: 0;
        color: transparent;
        resize: none;
        padding: 1rem;
        caret-color: $default;
        z-index: 1;
        font-size: 14px;

        &::selection {
          color: transparent;
          background: #dfe3ec;
        }

        &:focus {
          box-shadow: unset;
        }
      }
      .code-output {
        pointer-events: none;
        z-index: 3;
        margin: 0;
        overflow-y: auto;
        width: calc(100% - 50px);

        code {
          top: 0;
          left: 0;
          margin: 0;
          padding: 1rem 0;
          display: block;
          color: $default;
          font-size: 14px;
          font-family: $code-font;
          background: transparent;
          line-height: 1.5;
          z-index: 3;
        }
      }
      .line-numbers {
        padding-left: 50px !important;
      }

      code {
        position: relative;
      }

      .line-numbers-rows {
        span.line-active:before {
          color: $default;
          font-family: $code-font;
        }
      }
    }
    .line-highlight {
      position: absolute;
      right: 0;
      margin-top: 1.3em;
      background: $highlight;
      pointer-events: none;
      line-height: inherit;
      white-space: pre;
      z-index: 0;
      opacity: 0.5;
      left: 45px;
    }
  }
  //icons
  .icon {
    font-weight: 900;
    font-family: Font awesome\5 Free;
    font-style: normal;
    cursor: pointer;
    opacity: 0.5;
    color: $default;

    &:hover {
      opacity: 1;
    }

    &.plus {
      &::before {
        content: '\f067';
      }
    }

    &.trash {
      font-size: 1.1em;
      padding: 0 1em;

      &::before {
        content: '\f2ed';
      }
    }
  }
}
